@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

/*-------- colors: orange - #f74e00 / rgb (247, 78, 0); grey - #786e65 rgb (120, 110, 101)
general padding, headings and formatting --------*/

body {
    font-family: "Poppins", sans-serif;
    color: #786e65;
}

.bg-grad-grey {
    background-image: linear-gradient(#bbb, #fff); 
}

.bg-grad-orange {
    background-image: linear-gradient(#fff, #f74e00); 
}

h2 {
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #f74e00;
}

h3 {
    padding: 15px 15px 0px 15px;
    font-size: 18px;
    font-weight: bold;
    color: #f74e00;
}

h4 {
    padding: 5px 5px 0px 5px;
    font-size: 14px;
    font-weight: bold;
    color: #f74e00;
}

.lowercase {
    text-transform: lowercase;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

/* the following code has been adapted from Aries Dagraca:
https://iheartpagelines.com/creating-the-big-triangle-separator/ */

/* gives the section a relative position  */
section {
    position: relative;
}

/* catches the overflow from after/before   */
.region-wrap {
    overflow: hidden;
}

/* big triangle */
.big-triangle:before {
    right: 50%;
    border-right: 1000px solid transparent;
    border-left: 1000px solid;
}

.big-triangle:after {
    left: 50%;
    border-left: 1000px solid transparent;
    border-right: 1000px solid;
}

.big-triangle:after, .big-triangle:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 50%;
    z-index: 100;
    border-bottom: 60px solid #bbb;
    transform: rotate(0.000001deg);
    -moz-transform: rotate(0.000001deg);
    -webkit-transform: rotate(0.000001deg);
    -o-transform: rotate(0.000001deg);
    -ms-transform: rotate(0.000001deg);
}

/* end of modified external code */

.divider {
    position: relative;
    min-height: 60px;
}

.heading-padding {
    padding-top: 35px;
    padding-bottom: 35px;
}


/*---------------- navbar -------------------*/

.nav-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 101;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(120, 110, 101, 0.9);
}

.navbar .navbar-toggler {
    border:0;
}

/* the single line of code below is from an external source to remove the blue outline on the hamburger menu
https://stackoverflow.com/questions/50668594/removing-the-border-color-of-the-navbar-toggler-hamburger-icon-bootstrap-4/50668740 */

button.navbar-toggler:focus { 
    outline: none;
} 

/* end of external code */

.navbar .navbar-logo {
    font-size: 26px;
    font-weight: bold;
    color: #f74e00;
    text-decoration: none;
    transition-property: color;
    -webkit-transition-property: color;
    -moz-transition-property: color;
    -o-transition-property: color;
    -ms-transition-property: color;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
}

.navbar .navbar-logo:hover {
    color: white;
}

.fa-bars {
    border: none;
    font-size: 26px;
    color: #f74e00;
    transition-property: color;
    -webkit-transition-property: color;
    -moz-transition-property: color;
    -o-transition-property: color;
    -ms-transition-property: color;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
}

.fa-bars:hover {
    color: #ffffff;
}

ul.navbar-nav > li.mt-10 {
    margin-top: 10px;
    }

ul.navbar-nav > li.mb-10 {
    margin-bottom: 10px;
}

ul.navbar-nav > li.nav-item > a.custom-link {
    font-size: 16px;
    color: white;
    transition-property: color;
    -webkit-transition-property: color;
    -moz-transition-property: color;
    -o-transition-property: color;
    -ms-transition-property: color;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
}

ul.navbar-nav > li.nav-item > a.custom-link:hover {
    color: #f74e00;
    text-decoration: none;
}


/*---------------- who we are ----------------- */

.who-we-are {
    margin-top: 3.4em;
    padding-top: 10px;
}

.who-we-are-photo {
    margin: 15px;
    background: url("../images/the-ginger-trader.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 280px;
    max-width: 400px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    box-shadow: 1px 1px 5px 1px rgba(247,78,0,1);
    -webkit-box-shadow: 1px 1px 5px 1px rgba(247,78,0,1);
    -moz-box-shadow: 1px 1px 5px 1px rgba(247,78,0,1);
}

.who-we-are-photo:hover {
    transform: scale(1.05);
}


/*---------------- what we do ----------------- */

.what-we-do-icon {
    margin-bottom: 50px;
    padding: 0;
}

.circle-orange {
    width: 65px;
    height: 65px;
    padding: 17px;
    border: 2px solid #f74e00;
    border-radius: 50%;
    font-size: 25px;
    text-align: center;
    color: #f74e00;
}

.fa {
    text-align: center;
    font-size: 26px;
    color: #f74e00;
}

.what-we-do-column {
    text-align: center;
    margin:0;
    height: 200px;
}

/*---------------- testimonials ----------------- */

.testimonial-1-photo {
    background: url("../images/testimonial-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 40px;
    max-height: 100px;
    width: 100px;
    box-shadow: 1px 1px 5px 1px rgba(247,78,0,1);
    -webkit-box-shadow: 1px 1px 5px 1px rgba(247,78,0,1);
    -moz-box-shadow: 1px 1px 5px 1px rgba(247,78,0,1);
}

.testimonial-2-photo {
    background: url("../images/testimonial-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 40px;
    max-height: 100px;
    width: 100px;
    box-shadow: 1px 1px 5px 1px rgba(247,78,0,1);
    -webkit-box-shadow: 1px 1px 5px 1px rgba(247,78,0,1);
    -moz-box-shadow: 1px 1px 5px 1px rgba(247,78,0,1);
}

.testimonial-column {
    text-align: center;
    margin: 20px 0px;
    height: 230px;
}

.testimonials .fa {
    text-align: center;
    font-size: 18px;
    color: #f74e00;
}

.testimonial-column a {
    color: #f74e00;
    font-weight: bold;
    font-size: 16px;
    transition-property: color;
    -webkit-transition-property: color;
    -moz-transition-property: color;
    -o-transition-property: color;
    -ms-transition-property: color;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
}

.testimonial-column a:hover {
    color: #ffffff;
    text-decoration: none;
}


/*---------------- get a quote ----------------- */

.get-a-quote-form {
    color: #786e65;
    max-width: 450px;
    margin: 0 auto;
}

label.contact {
    margin-left: 15px;
}

label.method {
    margin-left: 30px;
}

.get-a-quote-button {
    margin: auto;
    margin-bottom: 50px;
    display: block;
    font-weight: bold;
    font-size: 20px;
    background-color: #f74e00;
    color: #ffffff;
    border-radius: 8px;
    height: 40px;
    width: 250px;
    transition-property: background-color;
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    -ms-transition-property: background-color;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
}

.get-a-quote-button:hover {
    background-color: #786e65;
}

/*---------------- footer ----------------- */

.footer {
    min-height: 100px;
    background-color: #786e65;
    border-right: solid 1px #ffffff;
    border-bottom: solid 1px #ffffff;
    text-align: center;
}

.white {
    color: #ffffff;
}

.footer .fa {
    margin-left: 20px;
    margin-right: 4px;
    font-size: 12px;
    color: #fff;
}

.city-and-guilds {
    background: url("../images/city-guilds-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 25px;
    height: 80px;
    width: 150px;
}

ul.social > li > a > i {
    margin: 15px;
    font-size: 32px;
    color: #fff;
    transition-property: color;
    -webkit-transition-property: color;
    -moz-transition-property: color;
    -o-transition-property: color;
    -ms-transition-property: color;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
}

ul.social > li > a > i:hover {
    color: #f74e00;
}
