@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

/*-------- colors: orange - #f74e00 / rgb (247, 78, 0); grey - #786e65 rgb (120, 110, 101) --------*/

body {font-family: "Poppins", sans-serif;}

.bg-grad {
    background-image: linear-gradient(#bbb6b2, #ffffff) 
}

h2 {
    padding: 15px;
    font-size: 22px;
    font-weight: bold;
    color: #f74e00;
}

.lowercase {
    text-transform: lowercase;
}

.inline-block {
    display: inline-block;
}

/*---------------- navbar -------------------*/

.nav-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
    }

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(120, 110, 101);}

.navbar .navbar-toggler {
    border:0;
}

/* line of code below from stackoverflow query and response */

button.navbar-toggler:focus { 
    outline: none;
} 

.navbar .navbar-logo {
    font-size: 26px;
    font-weight: bold;
    color: #f74e00;
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.navbar .navbar-logo:hover {
    color: white;
}

.fa-bars {
    border: none;
    font-size: 26px;
    color: #f74e00;
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.fa-bars:hover {
    color: #ffffff;
}

ul.navbar-nav > li.mt-10 {
    margin-top: 10px;
    }

ul.navbar-nav > li.mb-10 {
    margin-bottom: 10px;
    }

ul.navbar-nav > li.nav-item > a.custom-link {
    font-size: 16px;
    color: white;
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}


ul.navbar-nav > li.nav-item > a.custom-link:hover {
    color: #f74e00;
    text-decoration: none;
}


/*---------------- who we are ----------------- */

.who-we-are {
    margin-top: 3.4em;
}

.who-we-are-photo {
    margin: 15px;
    background: url("../images/the-ginger-trader.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}


/*---------------- what we do ----------------- */

/*---------------- testimonials ----------------- */

/*---------------- get a quote ----------------- */

/*---------------- footer ----------------- */
